*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General*/
html,body #fullheight{
    min-height: 100vh !important;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    display: grid;
    grid-template-rows: 40% 60%;
    height: 100vh;
    background-color: black;
    padding: 2px;
    border: 2px   solid  white;
    border-radius: 10px;
}



/*Display*/
.result{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    height: 95%;
    overflow: hidden;
}

.result span{
    margin-right: 20px;
    font-size: 6rem;
    justify-self: flex-end;
}

/*Buttons*/
.buttons{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: end;
}

.science{
    display: none !important;
    background-color: #2a2a2a;
    border: none;
    font-size: 1rem !important;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    width: 92%;
    height: 92%;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    align-self: center;
    justify-self: center;
}

.item1{
    background-color: #a5a5a5;
    border: none;
    color: black;
}

.item2{
    background-color: #ff9f0a;
    border: none;
}

.number{
    background-color: #343434;
    border: none;
}



.itemZero{
    background-color: #343434;
    width: 90%;
    border-radius: 135px;
    grid-column: span 2;
    border: none;
    justify-content: start;
    padding-left: 35px;
}

/*----------------------------------------------------------*/
/*HORIZONTAL*/

@media screen and (orientation: landscape) {
    /*General*/
    .container {
      width: 100vw;
      height: 0 auto;
      grid-template-rows: 25% 75%;
    }

    .science{
        display: block !important;
    }
    
    /*Display*/
    

    .result {
        align-self: baseline;
        translate: 0 15px;
        padding: 0 1%;
    }
    

    /*Buttons*/

    .buttons{
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
        padding: 0 3%;
    }
    .item{
        overflow: hidden;
    }

  }